html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  color: aliceblue;

  background: rgb(14, 11, 22);
  background: linear-gradient(
    0deg,
    rgba(14, 11, 22, 1) 21%,
    rgba(162, 57, 202, 1) 53%,
    rgba(71, 23, 246, 1) 100%
  );
}

body {
  overflow: hidden auto;
}
#root {
  min-height: 700px;
}

::-webkit-scrollbar {
  width: 2px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #9b9b9b; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #9b9b9b; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #e3e3e3; /* creates padding around scroll thumb */
}
